<!--
  Generated template for the TodoListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="danger">
    <ion-buttons end>
      <button (click)="goToOtherPage()" ion-button icon-only>
            <ion-icon name="add"></ion-icon>
          </button>
    </ion-buttons>
    <ion-title>Todo List</ion-title>
  </ion-navbar>


</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let item of list | prioridadPipe;let pos = index ">
      <button ion-item [ngClass]="{'bg-succes' : (item.check == true)}">
          <ion-label>{{ item.description }}</ion-label>
          <ion-label *ngIf="item.important" item-note>Importante</ion-label>
          <ion-checkbox color="dark" checked="false" (click)="item.check =! item.check" [checked]="item.check"></ion-checkbox>
      </button>
      <ion-item-options side="left">
        <button (click)="item.check = true" ion-button color="primary">
              <ion-icon name="checkbox"></ion-icon>
              Finalizado
            </button>
      </ion-item-options>
      <ion-item-options side="right">
        <button (click)="editItem(item,pos)" ion-button color="danger">
              <ion-icon name="create"></ion-icon>
              Editar
            </button>
        <button (click)="splitItem(item)" ion-button color="dark">
                <ion-icon name="close"></ion-icon>
                Eliminar
              </button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-divider *ngIf="(list | doneList).length > 0">
      Item check
    </ion-item-divider>
    <button *ngFor="let item of list | doneList " ion-item [ngClass]="{'bg-succes' : (item.check == true)}">
            <ion-label>{{ item.description }}</ion-label>
            <ion-checkbox color="dark" checked="false" (click)="item.check =! item.check" [checked]="item.check"></ion-checkbox>
            <ion-icon name="checkbox" color="light"  *ngIf="item.check" item-end></ion-icon>
        </button>
  </ion-list>
  <!-- <ion-list>
    <button [ngClass]="{'bg-succes' : (item.check == true)}" ion-item *ngFor="let item of list">
      <ion-label>{{ item.description }}</ion-label>
      <ion-checkbox color="dark" checked="false" (click)="item.check =! item.check" [checked]="item.check"></ion-checkbox>
      <ion-icon name="checkbox" color="danger"  *ngIf="item.check" item-end></ion-icon>
    </button>
  </ion-list> -->
</ion-content>
