<ion-tabs>
  <ion-tab tabTitle="Todo List" [root]="'TodoListPage'"></ion-tab>
  <ion-tab tabTitle="Noticias" [root]="'NoticesPage'"></ion-tab>
  <ion-tab tabTitle="Mapa" [root]="'MapPage'"></ion-tab>
</ion-tabs>
