<!--
  Generated template for the MapPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="danger">
    <ion-title>Mapa</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <div id="map"></div>
</ion-content>
