<!--
  Generated template for the CreateItemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button (click)="closeModal()" ion-button icon-only><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons end>
      <button (click)="createItem()" *ngIf="newItem.description != undefined && newItem.description != ''" ion-button icon-only>
              <ion-icon name="checkmark"></ion-icon>
            </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label fixed>Descripción</ion-label>
      <ion-input [(ngModel)]="newItem.description" type="text" value=""></ion-input>
    </ion-item>

    <ion-item>
      <ion-label> Check</ion-label>
      <ion-toggle [(ngModel)]="newItem.check" checked="false"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label> Importante?</ion-label>
      <ion-toggle [(ngModel)]="newItem.important" checked="false"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
