<!--
  Generated template for the NoticesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Noticias</ion-title>
    <ion-buttons end>
      <button (click)="getNotices()" ion-button icon-only>
              <ion-icon name="refresh"></ion-icon>
            </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-refresher color="light" (ionRefresh)="getNotices($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <ion-card-header>
      Prueba de servicios Http
    </ion-card-header>
  </ion-card>
  <ion-list>
    <ion-item *ngFor="let item of notices">
      <ion-thumbnail item-start>
        <img [src]="item.urlToImage">
      </ion-thumbnail>
      <h2 text-wrap>{{item.title}}</h2>
      <p text-wrap>{{item.publishedAt}}</p>
    </ion-item>
  </ion-list>
</ion-content>
